/* 
    Document   : main
    Created on : 18.05.2015, 14:27:14
    Author     : zp050883aav
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    font-size:16px;
}

header {
    position:fixed;
    background-color:#fff;
    width:100%;
    z-index:1000;
}

header .nav>li{
    display:inline-block;
}

#quick-main-menu {
    padding:0;
    margin:0;
    background-color:white;
    z-index:1000;
    list-style:none;
    position:absolute;
    width:200px;
    display:none;
}

header .nav li:hover #quick-main-menu{
    display:block;
    animation: move-from-left 500ms ease-in-out;
    -webkit-animation: move-from-left 500ms ease-in-out;
}

@keyframes move-from-left{
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0px);}
}

@-webkit-keyframes move-from-left{
    from {
        transform: translateX(-200px);
        -webkit-transform: translateX(-200px);
    }
    to {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);}
}

#quick-main-menu a{
    display:block;
    text-decoration: none;
    padding: 10px 15px;
    border-bottom: 1px solid grey;
}

.logo_wrapper {
    position:relative;
}

.logo_wrapper img {
    position:absolute;
    width:100%;
}

.jumbotron{
    height:500px;
    background-image: url('../images/insurance2.jpg');
    background-size:cover;
    background-position: center;
}
.jumbotron .container {
    text-align:center;
    color:white;
    vertical-align: middle;
}

.company-features{
    display:block;
    border:2px dotted green;
}
.company-features li{
    display:inline-block;
    border:1px dotted blue;
    width:24%;
    list-style: none;
    padding: 0;
    margin: 5px;
}

#footer{
    background: whitesmoke;}
#footer h3 {
    color:grey;
}
#footer ul{
    display:block;
    list-style: none;
    padding:0;
    margin:0;
}
.product-menu {

}

.product-icon-folder {
    display:block;
    list-style:none;
    padding:0;
    margin:0;
    width:50%;
}
.product-icon-folder li{
    display:inline-block;
}

.myinsur {

}.events {

}

.product-menu img {
    -webkit-filter:grayscale(100%);
}

.product-menu img:hover {
    -webkit-filter:none;
}

.product-menu p:last-child{
    text-align: right;
}